<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEyrYeUOhIrnRMCEYmWEO8KXn-J-d8Pk0</string>
	<key>GCM_SENDER_ID</key>
	<string>799126783379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>animal-5e97a</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-5e97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799126783379:ios:150d1674672d8cb3a3d466</string>
</dict>
</plist>